<div class="container-fluid">
	<p>Name: <%= @user.name if @user.name %></p>
	<p>Email: <%= @user.email if @user.email %></p>
	<p>Roles: <%= @user.roles.map(&:name).join(', ')%></p><br>

	<%= link_to 'edit', edit_user_path(@user), class: "btn btn-warning"%>
  <%= link_to 'delete', user_path(@user), class: "btn btn-danger" %>
</div>